{% extends 'shop/basic.html' %}

{% block title %}
Certifications
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h2 class="text-center">Certifications</h2>
    <div class="col-md-14" >
        <p>When it comes to food handling and export, maintaining high levels of hygiene, quality and safety are crucial. This is why, at Pisum, we meet international food safety and quality standards through various quality checks and following strict protocols throughout the process. This has allowed us to be accredited to a number of quality and food safety certifications. </p>
        <p>Being accredited to TPCI, APEDA, and other certifications, we make sure the entire process meets the top quality and food safety standards. Be it the food handling, packaging, or processing, we make sure that everything is done in accordance with the stringent protocols. We are an Indian government-certified exporter of food products.</p>
        <P><b> NOte:- This Website Is Demo Website so This Time No Certifications Uplode  </b></p>
    </div> 
    <div> 
         </div> 
</div>
{% endblock %}